* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d1db;
}

.App {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  margin: 20px 20px;
  border-radius: 24px;
}

.users-list {
  width: 1447px;
  border: 2px solid;
  border-radius: 24px;
}

.user-posts {
  width: 100%;
  padding: 20px;
  border: 2px solid;
  border-radius: 24px;
}